body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #e1ebfc;
  max-width: 960px;
  margin: 0 auto !important;
}

/* Global button style */
input {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  font-size: 1rem;
  min-width: 6rem;
}

.button {
    color: #ffffff;
    background-color: rgb(0, 120, 212);
}

.button:hover {
  background-color: rgb(16, 110, 190);
}

.both-button {
    color: #ffffff;
    background-color: rgb(212, 124, 0);
}

.both-button:hover {
  background-color: rgb(194, 120, 17);
}

/* Main section */

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .title h3 {
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0.8rem 0;
}