body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #e1ebfc;
  max-width: 960px;
  margin: 0 auto !important;
}

/* Global button style */
input {
  display: block;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  font-size: 1rem;
  min-width: 6rem;
}

textarea {
  font-family: inherit;
  text-align: left;
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  font-size: 1rem;
  width: 100%;
  resize: none;
  outline-color: rgb(0, 120, 212);
}

textarea:focus {
  outline-color: rgb(0, 120, 212);
}

::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder {
  text-align: left;
}

.button {
    color: rgb(0, 120, 212);
    background-color: #ffffff00;
}

.button:hover {
  background-color: #0078d422;
}

.all-button {
    color: rgb(212, 124, 0);
    background-color: #ffffff00;
}

.all-button:hover {
  background-color: #d47c0022;
}

/* Main section */
.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .title h3 {
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0.8rem 0;
}

.panel {
  width: 60vw;
}