{% extends "base.html" %} {% block content %}

<div class="main">
    <div class="title" style="margin-top: 64px; margin-bottom: 32px;">
        <h3>Keyword Identifier</h3>
    </div>
    <div class="panel">
        <form action="/response" method="POST">
            <input class="field" name="text">
            <input class="button" name="action" type="submit" value="allenai-specter">
            <input class="button" name="action" type="submit" value="bert-base-nli-mean-tokens">
        </form>
        {% if text %}
        <h4>Text</h4>
        <p>{{ text }}</p>
        <h4>Model</h4>
        <p>{{ model }}</p>
        <h4>Keywords</h4>
        <p style="white-space: pre-wrap">{{ keywords }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
